tf_env/
.vscode/
keras_model.h5
data/
custom_cnn_model/
testing data/
annotations/
BodyData_zip/
MDs/
tf_env_new/
tf_env_new2/
myvenvPY311/
custom_cnn_model.keras
custom_cnn_model.h5
custom_cnn_model.pth
